body {
	background-image: url(src/silverware.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	font-family: Georgia, Garamond, serif;
	color: rgb(60,60,60);
	font-size: 11pt;
}

a {
	color : rgb(164,164,0);
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.header {
	font-size: 22pt;
	text-decoration: underline;
	letter-spacing: 0.2em;
	color: rgb(164,164,0);
	background-color: rgb(240,240,240);
	font-family: "Century Gothic", Futura, Verdana, sans-serif;
}

.sub {
	font-size: 18pt;
	font-weight: normal;
}

.bold {
	font-weight: bold;
}

.material {
	line-height: 13pt;
}

.contentUnorderList {
	list-style-image: url(src/pie_icon.gif);
}

.comment {
	font-style: italic;
	background-color: rgb(255,255,200);
}

.img_link {
	text-decoration: none;
}