html, body{
  margin: 0;
  padding: 0;
  font-size: 8px;
  font-family: Verdana, Tahoma, sans-serif;
  background-image: url("src/background.png");
}

/*head part*/

.banner {
  margin: 0;
  padding: 0;
  height: 50px;
  text-align: center;
  background: url("src/bannerbackground.png") repeat-x;
}

.header {
  font-size: 24pt;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/*content*/
.content {
  width: 800px;
  margin: auto;
  border: 4px solid gray;
  overflow: hidden;
}

.left-view {
  width: 550px;
}

.poster {
  float: right;
  margin: 0;
}

.content-header {
  background: url("src/rottenbackground.png") repeat-x;
  height: 83px;
  width: 550px;
}

.content-header .rate {
  color: red;
  font-size: 48pt;
  font-weight: bold;
  vertical-align: bottom;
}

.content-header .number {
  color: white;
  font-size: 8pt;
  vertical-align: 100%;
}

.col {
  width: 47%;
  margin: 2% 0 0 2%;
  padding: 0;
  float: left;
  display: inline-block;
}

/*review*/
.review {
  margin-bottom: 3em;
}

.review .review-content {
  margin: 0;
  padding: 8px;
  border: 2px solid gray;
  background-color: #E1D697;
  font-size: 8pt;
  font-weight: bold;
  min-height: 25px;
}

.content-img {
  float: left;
  margin-right: 5px;
}

.reviewer {
  font-size: 8pt;
}

.company {
  font-style: italic;
}

/*right-view*/
.right-view {
  width: 250px;
  float: right;
  background-color: #A2B964;
  font-size: 8pt;
  font-family: Arial, sans-serif;
}

.list{
  float: right;
  padding: 10px;
}

.right-view dl{
  margin: 0;
}

.right-view dt {
  font-weight: bold;
  margin-top: 1em;
}

.right-view dt:first-child {
  margin-top: 0;
}



/*footer*/
.footer{
  background-color: #A2B964;
  text-align: center;
  padding: 5px;
  margin: 0;
  font-size: 5pt;
  clear: both;
}

/*standard*/
.standard-link {
  position: fixed;
  right: 0;
  bottom: 0;
  border: none;
}

.standard-link ul {
  list-style: none;
}