body {
  background: #f5f6f7;
}
h2 a {
  text-decoration: none;
}
.user-list-div {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 10px;
}
.basic-div {
  background: white;
  border: 1px solid #f4f4f4;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
.div-header {
  border-bottom: 1px solid #eee;
}
.bold-span {
  font-weight: bold;
}
.clickable {
  cursor: pointer;
}